<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">R mm</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
  </ion-header-bar>
	<ion-content><p style="padding: 5px;">Right para-umbilical flap thickness measured by pinch test. Flap thickness is measured using skin fold caliper at 5 cm right from the umbilicus and it is divided by 2.</p>
		<img src="img/R_pinch.png" style="width: 100%; padding: 5px;">
  </ion-content>
</ion-modal-view>
