<ion-view view-title="Info">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">Author</div>
      <div class="item item-body">
		<div>
			<p style="text-align: center;">Kyongje Woo, Goohyun Mun</p>
			<p style="text-align: center;">email: economywoo@gmail.com</p>
			<p style="text-align: center;">For more information visit: <a href="#" onclick="window.open('https://www.ncbi.nlm.nih.gov/pubmed/27050336', '_system')" >https://www.ncbi.nlm.nih.gov/pubmed/27050336</a></p>
			<!--img src="img/author.jpg" style="width: 100%;"-->
        </div>
      </div>
	</div>
  </ion-content>
</ion-view>
